flask==1.0.2
flask_bootstrap==3.3.7.1
flask_moment==0.6.0
flask_oauthlib==0.9.4
flask_wtf==0.14.2
gevent==1.2.2
google-cloud-storage==1.13.0
google_auth_oauthlib==0.1.1
dataset==1.0.3
gunicorn==19.7.1
moment==0.8.2
pandas==0.24.1
pyicu==2.0.5
requests==2.21.0
urllib3==1.22
wtforms==2.1
