<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="billingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="billingModalLabel">Required Field: Terra Billing Project
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button></h5>
      </div>
      <div class="modal-body">
          This Terra Billing Project will be charged for your data upload, compute, any downloads made within the created Terra workspace.
          You can read more about Terra billing rates on the
          <a href="https://support.terra.bio/hc/en-us/articles/360048632271-Understanding-costs-and-billing-in-Terra"
          target="_blank">Terra Forums.</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>