<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="billingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="billingModalLabel">Required Field: FireCloud Billing Project
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button></h5>
      </div>
      <div class="modal-body">
          This FireCloud Billing Project will be charged for your data upload, compute, any downloads made within the created FireCloud workspace.
          You can read more about FireCloud billing rates on the
          <a href="https://gatkforums.broadinstitute.org/firecloud/discussion/10238/how-much-does-it-cost-to-use-firecloud"
          target="_blank">FireCloud Forums.</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>