<div class="modal fade" id="fusionModal" tabindex="-1" role="dialog" aria-labelledby="fusionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fusionModalLabel">Optional Field: Fusions from RNA
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button></h5>
      </div>
      <div class="modal-body">
          <p> We recommend STAR Fusion to call somatic fusions from RNA. The Molecular Oncology Almanac specifically requires the following columns:</p>

          <p class="text-muted">#fusion_name, SpanningFrags, LeftBreakpoint, RightBreakpoint</p>

          Example upload file for fusions using required columns:
          <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>#fusion_name</th>
                        <th>SpanningFrags</th>
                        <th>LeftBreakpoint</th>
                        <th>RightBreakpoint</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>EML4--ALK</td>
                        <td>0</td>
                        <td>6:47471176</td>
                        <td>11:66563752</td>
                    </tr>
                    <tr>
                        <td>COL1A2--APBA3</td>
                        <td>6</td>
                        <td>9:35657873</td>
                        <td>21:46320255</td>
                    </tr>
                    <tr>
                        <td>POLR2A--AP2M1</td>
                        <td>12</td>
                        <td>17:7406801</td>
                        <td>3:183898675</td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>