<div class="modal fade" id="oncotreeModal" tabindex="-1" role="dialog" aria-labelledby="oncotreeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="oncotreeModalLabel">Required Field: Tumor Type
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button></h5>
      </div>
      <div class="modal-body">
          The Molecular Oncology Almanac utilize <a href="http://oncotree.mskcc.org/oncotree/#/home" target="_blank">
          Oncotree</a> for handling tumor type.
          You can select any ontology from the drop down menu or type in your own.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>