.title {
    color: #00629B;
}

.subtitle {
     color: #FFA300;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

* {
    margin: 0;
}

html {
    position: relative;
    height: 100%
}

body {
    /* Margin bottom by footer height */
    height: 100%;
    margin-bottom: 60px;

}

a {
    color: #00629B;
}

a:hover {
    color: #00629B;
    text-decoration: underline;
}

.navbar {
    background-color: #00629B;
}

.navbar a:hover {
    color: #003354;
    background-color: #FFA300;
}

.navbar a {
    color: #FFFFFF;
}

.navbar-brand:hover {
    color: #003354;
    background-color: #FFA300;
}

.navbar-nav .nav-link:hover {
    color: #003354;
    background-color: #FFA300;
}

.nav .dropdown-toggle {
    color: #FFFFFF;
    background-color: #00629B;
}

.nav .dropdown.open .dropdown-toggle {
    color: #003354;
    background-color: #FFA300;
}

.nav .dropdown-toggle:focus,
.nav .dropdown-toggle:active {
    color: #FFFFFF;
    background-color: #00629B;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2em;
    background-color: #EEEEEE;
    margin-top: 50px;
}

.footer img {
    margin-right: 2em;
}

.logo-container img {
    height: 50px;
    width: auto;
}

#logo-list {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.status {
    margin: 0px auto;
    text-align: center;
    width: 50%;
}

.setup table {
    display: inline-block;
    padding: 20px;
}

#browsebutton {
    background-color: white;
}

#my-file-selector {
    display: none;
}

.row{
    margin-top: 0px;
    padding: 0 10px;
    width:100%
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.panel > .panel-heading {
    background-image: none;
}

.table > thead > tr > th{
    border-right: 1px solid #ddd;
    border-bottom:0;
}

.table > tbody > tr > td{
    border-right: 1px solid #ddd;
}

.table > thead > tr > th:last-of-type {
    border-right: 0px;
}

.table > tbody > tr > td:last-of-type {
    border-right: 0px;
}


