{% extends 'base.html' %}

{% block title %} FireCloud Error {% endblock %}

{% block page_content %}

	<div class="container">
        <div class="bg-danger well well-lg" id="notice">
            <h3 class="text-danger text-center">FireCloud's API seems to be having trouble at the moment :(</h3>
            <p class="lead text-center">Please check back later. View <a href="http://status.firecloud.org/">the FireCloud status page</a> for more information.</p>
        </div>
	</div>

{% endblock %}