{% extends 'base.html' %}

{% block page_title %} Molecular Oncology Almanac - Usage History {% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="jumbotron">
            {% include "logo.html" %}
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">

                <center>
                <div class="header text-center"><h3>Usage History</h3></div>

                <table class="table table-history table-striped table-hover">
                    <thead>
                        <td>
                            <h4>Date</h4>
                        </td>
                        <td>
                            <h4>E-mail</h4>
                        </td>
                    </thead>

                    {% for entry in db %}
                    <tr>
                        <td>
                            {{ '-'.join([entry['year'], entry['month'], entry['day']]) }}
                        </td>
                        <td>
                            {{ entry['email'] }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </center>

                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>

    </div>
{% endblock %}