{% extends 'base.html' %}

{% block page_title %} Chips Salsa Portal {% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/google.js')}}"></script>
{% endblock %}

{% block page_content %}
    <div class="container">
        <br>
        <img src="{{ url_for('static', filename = 'img/cs_portal_logo.png') }}" class="img-responsive center-block">
        <br>
        {% if user_dict['user'] != '' %}
            <div class="text-center">
                <p>Logged in as: {{ user_dict['email'] }}</p>
                <br>
            </div>
        {% endif %}
        {% include "instructions.html" %}
    </div>

{% endblock %}