<div class="row">
    <div class="text-center">
        <h2 class="title">Molecular Oncology Almanac</h2>
        <h3 class="title">Portal</h3>
        <br>
        <p class="lead text-muted" style="font-size: 14pt;">
            A cloud-based web portal for accessible clinical interpretation of integrative cancer genomics.
        </p>
        <!--<p class="lead text-danger" style="font-size: 11pt;">
            <strong>For Research Use Only. Not for use in diagnostic procedures.</strong>
            <br>This method is not yet public. Please e-mail breardon@broadinstitute.org to request access before using the portal.
        </p>-->
    </div>
</div>