<div class="row">
    <img src="{{ url_for('static', filename = 'img/cs_portal_logo.png') }}" class="center-block" width="50%"><br>
    <div class="text-center">
        <p class="lead text-muted" style="font-size: 14pt;">
            A cloud-based web portal for accessible clinical interpretation of integrative cancer genomics.
        </p>
        <!-- {% if user_dict['user'] != '' %}
            <p class="lead text-muted" style="font-size: 12pt;">Logged in as: {{ user_dict['email'] }}</p>
        {% endif %} -->
        <p class="lead text-danger" style="font-size: 11pt;">
            <strong>For Research Use Only. Not for use in diagnostic procedures.</strong>
            <br>This method is not yet public. Please e-mail breardon@broadinstitute.org to request access before using the portal.
        </p>
    </div>
</div>