<div class="header"><h3>Browse Your Patients</h3></div>

{% for index in patient_table.index.tolist() %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{ patient_table.loc[index, 'patientId'] }} &nbsp; {{ patient_table.loc[index, 'tumorType'] }}
                <div class="pull-right">Created on: {{ patient_table.loc[index, 'time'] }}</div></h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-3">
                {% if (patient_table.loc[index, 'runningJobs'] == 0) and (patient_table.loc[index, 'completed'] == False) %}
                    <button type="button" class="btn btn-warning btn-block">CHIPS has not yet launched</button>
                {% elif (patient_table.loc[index, 'runningJobs'] == 1) %}
                    <button type="button" class="btn btn-muted btn-block">Running...</button>
                {% elif (patient_table.loc[index, 'runningJobs'] == 0) and (patient_table.loc[index, 'completed']) %}
                    <button type="button" class="btn btn-success btn-block">View the Report</button>
                {% else %}
                    <button type="button" class="btn btn-danger btn-block">Something Went Wrong!</button>
                {% endif %}
                <a href="{{ patient_table.loc[index, 'url'] }}" class="btn btn-default btn-block" role="button" target="_blank">View FireCloud Workspace</a>
            </div>
            <div class="col-sm-9">
                <p style="white-space: pre-wrap;">{{ patient_table.loc[index, 'description'] }}</p>
            </div>
        </div>
    </div>
{% endfor %}