{% extends 'base.html' %}

{% block page_title %} Molecular Oncology Almanac {% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="jumbotron">
            {% include "logo.html" %}
        </div>
        <div class="row text-center">
            <a href="{{ url_for('upload') }}" class="btn btn-primary btn-lg" role="button">Begin new analysis</a>
            &nbsp;&nbsp;
            <a href="https://app.terra.bio/#workspaces?tagsFilter%5B0%5D={{ CONFIG['STRINGS']['APP_TAG'] }}" class="btn btn-primary btn-lg" role="button" target="_blank">View workspaces on Terra</a>
        </div>

        <div class="row">
            {% include "patientTable.html" %}
        </div>
    </div>
{% endblock %}
