<p>
    <strong>
        Last updated April 29, 2021
    </strong>
    <br><br>
    Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the <a href="{{ url_for('index') }}">https://portal.moalmanac.org</a> website and to launch the Molecular Oncology Almanac (the "Service"), operated by the Van Allen laboratory at Dana-Farber Cancer Institute and the Broad Institute of MIT & Harvard ("us", "we", or "our"), on <a href="https://terra.bio">Terra</a>. The Service is used to launch the Molecular Oncology Almanac on Terra on the user's behalf. We may periodically update the content of this webpage and associated Terra method.
    <br><br>
    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
    <br><br>
    <strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong>

    <h3>For Research Use Only</h3>
    <p>DIAGNOSTIC AND CLINICAL USE PROHIBITED.  THE BROAD INSTITUTE and DFCI MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT OR VALIDITY OF ANY INTELLECTUAL PROPERTY RIGHTS OR CLAIMS, WHETHER ISSUED OR PENDING, AND THE ABSENCE OF LATENT OR OTHER DEFECTS, WHETHER OR NOT DISCOVERABLE.</p>
    <p>In no event shall Broad or DFCI or their Trustees, Directors, Officers, Employees, Students, Affiliates, Core Faculty, Associate Faculty and Contractors, be liable for incidental, punitive, consequential or special damages, including economic damages or injury to persons or property or lost profits, regardless of whether the party was advised, had other reason to know or in fact knew of the possibility of the foregoing, regardless of fault, and regardless of legal theory or basis. You may not download or use any portion of this program for any use not expressly authorized by the Broad. You further agree that the program shall not be used as the basis of a commercial product and that the program shall not be rewritten or otherwise adapted to circumvent the need for obtaining permission for use of the program other than as specified herein.</p>

    <h3>Contact us</h3>
    If you have any questions about these Terms, please contact us at moalmanac [at] ds.dfci.harvard.edu.
</p>