<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="col-md-12">
        <h4>Required Fields</h4>
        <p class="text-muted">Add your patient ID, tumor type from Oncotree, and select a billing project. These inputs are required.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="patientId">Patient ID:</label>
            <input type="text" class="form-control" id="patientId" name="patientId" placeholder="Dolores">
            <small id="idHelp" class="form-text text-muted">Only letters, numbers, underscores, and are dashes allowed.</small>
        </div>
        <div class="form-group col-md-4">
            <label for="tumorType">Tumor Type:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#oncotreeModal"></span>
            {% include "modals/oncotreeModal.html" %}
            <input type="text" class="form-control" id="tumorType" name="tumorType" placeholder="Glioblastoma" list="ontology">
            <datalist id="ontology">
            {% for ontology_ in oncotree %}
                <option value="{{ ontology_ }}"></option>
            {% endfor %}
            </datalist>
        </div>
        <div class="form-group col-md-4">
            <label for="billingProject">FireCloud Billing Project:</label>
            <select class="form-control" name="billingProject" id="billingProject">
                {% for billingAccount in user_dict['firecloud_billing'] %}
                    <option> {{ billingAccount[1] }} </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <h4>Optional Fields</h4>
        <p class="text-muted">Add a description or upload any combination of the file types below. All of these inputs are optional.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="description">Patient Description:</label>
            <textarea class="form-control" name="description" id="description" rows="5"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="snvHandle">Single Nucleotide Variants:</label>
                <input type="file" class="form-control-file" name="snvHandle" id="snvHandle" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Suggested method: MuTect 1.0</small>
        </div>
        <div class="form-group col-md-4">
            <label for="indelHandle">Insertions or Deletions:</label>
            <input type="file" class="form-control-file" name="indelHandle" id="indelHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: Strelka</small>
        </div>
        <div class="form-group col-md-4"><!-- Put question market for example file -->
            <label for="burdenHandle">Somatic Bases Covered:</label>
            <input type="file" class="form-control-file" name="burdenHandle" id="burdenHandle" aria-describedby="filehelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: MuTect 1.0</small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="segHandle">Copy Number Alterations:</label>
            <input type="file" class="form-control-file" name="segHandle" id="segHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: GATK CNV</small>
        </div>
        <div class="form-group col-md-4">
            <label for="fusionHandle">Fusions from RNA:</label>
            <input type="file" class="form-control-file" name="fusionHandle" id="fusionHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: Star Fusion</small>
        </div>
        <div class="form-group col-md-4"><!-- Put question market for example file -->
            <label for="dnarnaHandle">Single Nucleotide Variants (RNA):</label>
            <input type="file" class="form-control-file" name="dnarnaHandle" id="dnarnaHandle" aria-describedby="filehelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: MuTect 1.0</small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="germlineHandle">Germline Variants:</label>
            <input type="file" class="form-control-file" name="germlineHandle" id="germlineHandle" aria-describedby="filehelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: HaplotypeCaller</small>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>

    <br>
    <div class="form-row text-center">
        <div class="form-group col-md-12">
            <a href="{{ url_for('user') }}" class="btn btn-default" role="button">Cancel</a>
            &nbsp;
            <button type="submit" class="btn btn-primary">Upload New Patient</button>
        </div>
    </div>
</form>