<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="col-md-12">
        <h4>Required fields</h4>
        <p class="text-muted">Add your de-identified sample name, tumor type from Oncotree, and select a billing project.
            The following inputs are required.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="patientId">De-identified sample name:</label>
            {% for error in form.patientId.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            <input type="text" class="form-control" id="patientId" name="patientId" placeholder="de-identified-sample-name">
            <small id="idHelp" class="form-text text-muted">Only letters, numbers, underscores, and are dashes allowed.</small>
        </div>
        <div class="form-group col-md-4">
            <label for="tumorType">Tumor type:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#oncotreeModal"></span>
            {% for error in form.tumorType.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            {% include "modals/oncotreeModal.html" %}
            <input type="text" class="form-control" id="tumorType" name="tumorType" placeholder="Glioblastoma" list="ontology">
            <datalist id="ontology">
            {% for tumor_ontology in oncotree_list %}
                <option value="{{ tumor_ontology }}"></option>
            {% endfor %}
            </datalist>
        </div>
        <div class="form-group col-md-4">
            <label for="billingProject">Terra billing project:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#billingModal"></span>
            {% include "modals/billingModal.html" %}
            <select class="form-control" name="billingProject" id="billingProject">
                {% for billing_account in billing_projects %}
                    <option> {{ billing_account[1] }} </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <h4>Optional fields</h4>
        <p class="text-muted">Add a description or upload any combination of the file types below.
            The following inputs are optional.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="description">Analysis description:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#descriptionModal"></span>
            {% include "modals/descriptionModal.html" %}
            <textarea class="form-control" name="description" id="description" rows="5"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="snvHandle">Single nucleotide variants:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#snvModal"></span>
            {% include "modals/snvModal.html" %}
            <input type="file" class="form-control-file" name="snvHandle" id="snvHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: MuTect 1.0</small>
        </div>
        <div class="form-group col-md-4">
            <label for="indelHandle">Insertions or deletions:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#indelModal"></span>
            {% include "modals/indelModal.html" %}
            <input type="file" class="form-control-file" name="indelHandle" id="indelHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: Strelka</small>
        </div>
        <div class="form-group col-md-4"><!-- Put question market for example file -->
            <label for="burdenHandle">Somatic bases covered:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#basesModal"></span>
            {% include "modals/basesModal.html" %}
            <input type="file" class="form-control-file" name="burdenHandle" id="burdenHandle" aria-describedby="filehelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: MuTect 1.0</small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="segHandle">Copy number alterations:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#segModal"></span>
            {% include "modals/segModal.html" %}
            <input type="file" class="form-control-file" name="segHandle" id="segHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: GATK CNV</small>
        </div>
        <div class="form-group col-md-4">
            <label for="fusionHandle">Fusions from RNA:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#fusionModal"></span>
            {% include "modals/fusionModal.html" %}
            <input type="file" class="form-control-file" name="fusionHandle" id="fusionHandle" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: Star Fusion</small>
        </div>
        <div class="form-group col-md-4"><!-- Put question market for example file -->
            <label for="dnarnaHandle">Single nucleotide variants (RNA):</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#snvRNAModal"></span>
            {% include "modals/snvRNAModal.html" %}
            <input type="file" class="form-control-file" name="dnarnaHandle" id="dnarnaHandle" aria-describedby="filehelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: MuTect 1.0</small>
        </div>
    </div>

    <!--
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="germlineHandle">Germline Variants:</label>
            <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#germlineModal"></span>
            {% include "modals/germlineModal.html" %}
            <input type="file" class="form-control-file" name="germlineHandle" id="germlineHandle" aria-describedby="filehelp">
            <small id="fileHelp" class="form-text text-muted">Suggested method: HaplotypeCaller</small>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
    -->

    <br>
    <div class="form-row text-center">
        <div class="form-group col-md-12">
            <a href="{{ url_for('user') }}" class="btn btn-default" role="button">Cancel</a>
            &nbsp;
            <button type="submit" class="btn btn-primary">Begin analysis</button>
        </div>
    </div>
</form>