{% extends 'base.html' %}

{% block page_title %} Chips Salsa Portal {% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block page_content %}
    <div class="container">
        <br>
        <img src="{{ url_for('static', filename = 'img/cs_portal_logo.png') }}" class="img-responsive center-block">
        <br>
        <div class="text-center">
            <p>Logged in as: {{ user_dict['email'] }}</p><br>
            <a href="{{ url_for('upload') }}" class="btn btn-primary btn-lg" role="button">Upload New Patient</a>
        </div>

        <div class="container">
            {% include "patientTable.html" %}
        </div>

    </div>
{% endblock %}
