{% extends 'base.html' %}

{% block page_title %} Chips Salsa Portal {% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block page_content %}
    <div class="container">
        {% include "logo.html" %}
        <div class="row text-center">
            <a href="{{ url_for('upload') }}" class="btn btn-primary btn-lg" role="button">Upload New Patient</a>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">{% include "patientTable.html" %}</div>
            <div class="col-xs-1"></div>
        </div>

    </div>
{% endblock %}
